In [143]:
import pandas as pd

In [144]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [145]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis ='columns', inplace=True)
df.head() # maybe Cabin would still matter

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [146]:
targets = df.Survived
inputs = df.drop(['Survived'], axis = 'columns')

In [147]:
from sklearn.preprocessing import OneHotEncoder

In [148]:
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [149]:
categorical_cols = ['Sex']

In [150]:
encoder.fit(inputs[categorical_cols])

C:\Anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [151]:
encoded_cols = list(encoder.get_feature_names_out(categorical_cols))
encoded_cols

['Sex_female', 'Sex_male']

In [152]:
inputs[encoded_cols]= encoder.transform(inputs[categorical_cols])

In [153]:
inputs

     Pclass     Sex   Age     Fare  Sex_female  Sex_male
0         3    male  22.0   7.2500         0.0       1.0
1         1  female  38.0  71.2833         1.0       0.0
2         3  female  26.0   7.9250         1.0       0.0
3         1  female  35.0  53.1000         1.0       0.0
4         3    male  35.0   8.0500         0.0       1.0
..      ...     ...   ...      ...         ...       ...
886       2    male  27.0  13.0000         0.0       1.0
887       1  female  19.0  30.0000         1.0       0.0
888       3  female   NaN  23.4500         1.0       0.0
889       1    male  26.0  30.0000         0.0       1.0
890       3    male  32.0   7.7500         0.0       1.0

[891 rows x 6 columns]

In [154]:
#or couldve used get_dummies
#dummies = pd.getdummies(inputs.Sex)
#inputs = pd.concat([inputs, dummies], axis = 'columns')

In [155]:
inputs.drop(['Sex'], axis ='columns', inplace=True)
inputs

     Pclass   Age     Fare  Sex_female  Sex_male
0         3  22.0   7.2500         0.0       1.0
1         1  38.0  71.2833         1.0       0.0
2         3  26.0   7.9250         1.0       0.0
3         1  35.0  53.1000         1.0       0.0
4         3  35.0   8.0500         0.0       1.0
..      ...   ...      ...         ...       ...
886       2  27.0  13.0000         0.0       1.0
887       1  19.0  30.0000         1.0       0.0
888       3   NaN  23.4500         1.0       0.0
889       1  26.0  30.0000         0.0       1.0
890       3  32.0   7.7500         0.0       1.0

[891 rows x 5 columns]

In [156]:
inputs.isna().sum()

Pclass          0
Age           177
Fare            0
Sex_female      0
Sex_male        0
dtype: int64

In [157]:
from sklearn.impute import SimpleImputer

In [158]:
imputer = SimpleImputer(strategy = "mean")

In [159]:
col_na_values = ['Age']

In [163]:
imputer.fit(inputs[col_na_values])

SimpleImputer()

In [164]:
inputs[col_na_values] = imputer.transform(inputs[col_na_values])

In [165]:
inputs.isna().sum()

Pclass        0
Age           0
Fare          0
Sex_female    0
Sex_male      0
dtype: int64

In [166]:
#Other Approach:
#inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [167]:
inputs

     Pclass        Age     Fare  Sex_female  Sex_male
0         3  22.000000   7.2500         0.0       1.0
1         1  38.000000  71.2833         1.0       0.0
2         3  26.000000   7.9250         1.0       0.0
3         1  35.000000  53.1000         1.0       0.0
4         3  35.000000   8.0500         0.0       1.0
..      ...        ...      ...         ...       ...
886       2  27.000000  13.0000         0.0       1.0
887       1  19.000000  30.0000         1.0       0.0
888       3  29.699118  23.4500         1.0       0.0
889       1  26.000000  30.0000         0.0       1.0
890       3  32.000000   7.7500         0.0       1.0

[891 rows x 5 columns]

In [170]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, targets, test_size=0.2, random_state=42)

In [171]:
len(X_train)

712

In [172]:
len(X_test)

179

In [173]:
from sklearn.naive_bayes import GaussianNB

In [174]:
model = GaussianNB() #when data distribution is normal

In [175]:
model.fit(X_train, y_train)

GaussianNB()

In [182]:
model.score(X_test, y_test)

0.776536312849162

In [183]:
y_test[:10]

709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: Survived, dtype: int64

In [185]:
model.predict(X_test[:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [186]:
#didnt predict the first sample correct

In [187]:
model.predict_proba(X_test[:10])

array([[0.9906724 , 0.0093276 ],
       [0.98005615, 0.01994385],
       [0.98884743, 0.01115257],
       [0.01399093, 0.98600907],
       [0.04536928, 0.95463072],
       [0.00186328, 0.99813672],
       [0.06140727, 0.93859273],
       [0.98779422, 0.01220578],
       [0.04757714, 0.95242286],
       [0.00698675, 0.99301325]])